.banner {
  background: url("/assets/img/Bandi-banner.png");
  .carousel-indicators{
    left: unset;
    flex-flow: column;
    height: 53px;
    justify-content: space-between;
    margin:0;
    bottom: 373px;
    right: 48px;
    
    li{
      width: 8px;
      height: 8px;
      @include border-radius(50%);
      border: 1px solid #ccc;
      cursor: pointer;
      background: none;
      &.active{
        background: #ffffff;
      }
    }
  }
  .carousel-item_content {
    padding: 450px 0 50px 0;
    h2,
    h3,
    p {
      display: flex;
      justify-content: center;
      color: #ffffff;
      font-weight: 300;
    }
    h2 {
      @include font-size(62px);
      span {
        font-weight: 700;
        padding-left: 17px;
      }
    }
    h3 {
      @include font-size(48px);
      margin-bottom: 18px;
      span {
        color: #0ed691;
        padding-right: 11px;
      }
    }
    p {
      @include font-size(18px);
      display: flex;
      align-items: center;
      margin-bottom: 105px;
      &::before,
      &::after {
        content: "";
        width: 29px;
        height: 1px;
        background: #0ed691;
      }
      &::before {
        margin-right: 32px;
      }
      &:after {
        margin-left: 32px;
      }
    }
  }
  .content_social {
    display: flex;
    justify-content: center;
    a {
      padding-right: 18px;
      cursor: pointer;
      &:nth-child(3){
        padding-right: 12px;
        i{
          font-size: 18px;
        }
      }
      &:last-child{
        padding:0;
      }
      &:hover {
        i{
          color: #ffffff;
        }
      }
      i{
        font-size: 19px;
        color: rgba(#ffffff,.3);
      }
    }
  }
}
