a {
  &:hover {
    text-decoration: none;
    color: white;
  }
  color: white;
}

ul, ol, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}


.container{
  @media only screen and (min-width : 1200px){
    max-width: 1200px;
  } 
}
.row{
  margin: 0;
}

button{
  cursor: pointer;
}
input{
  outline: none;
}