footer {
  background: #1ea78d;
  .footer-wrap {
    padding: 100px 0 122px 0;
    .col-12 {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      @media #{$info-phone}{
        margin-bottom: 50px;
        &:last-child{
          margin:0;
        }
      }
    }
  }

  .wrap_comp {
    font-family: "myriad-pro";
    font-size: 13px;
    color: #ffffff;
    padding-right: 40px;
    word-spacing: 1px;
    @media only screen and (min-width : 1200px){
      max-width: 23.5%;
      padding-right: 25px;
    }
    @media #{$info-phone} {
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      padding: 0;
    }
    img {
      display: block;
      margin-bottom: 39px;
    }
  }
  .wrap_search {
    padding: 14px 22px 0 0;
    @media #{$info-phone} {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 0;
    }
    @media #{$info-tablet-vertical}{
      padding-top: 0;
    }
    h6 {
      font-family: "roboto-bold";
      font-size: 14px;
      color: #d7d5d0;
      margin-bottom: 43px;
      @media #{$info-phone}{
        margin-bottom: 39px;
      }
    }
    p {
      font-family: "myriad-pro";
      color: #ffffff;
      font-size: 13px;
      word-spacing: 1px;
      padding-right: 20px;
      @media #{$info-phone} {
        padding-right: 0;
      }
    }
    .search_area {
      height: 42px;
      border: 2px solid #ffffff;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      @include border-radius(5px);
      input {
        width: 100%;
        border: none;
        background: none;
        padding-left: 15px;
        font-family: "myriad-pro";
        color: #ffffff;
        font-size: 13px;
      }
      .fa {
        border: none;
        background: none;
        font-size: 20px;
        color: #ffffff;
        opacity: 0.6;
        padding-right: 17px;
        &:hover {
          color: #062033;
        }
      }
    }
  }
  .wrap_link {
    padding: 14px 15px 0 10px;
    @media #{$info-tablet-vertical} {
      padding-left: 0;
    }
    @media #{$info-phone} {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding:0;
    }
    h6 {
      font-family: "roboto-bold";
      font-size: 14px;
      color: #d7d5d0;
      margin-bottom: 36px;
      @media #{$info-phone}{
        margin-bottom: 39px;
      }
    }
    .link_col {
      display: flex;
      a {
        display: block;
        font-family: "opensans";
        font-size: 13px;
        margin-bottom: 13px;
        &:last-child {
          margin: 0;
        }
        &:hover {
          color: #062033;
        }
      }
    }
    .col_left {
      margin-right: 42px;
    }
  }
  .wrap_info {
    font-family: "opensans";
    font-size: 13px;
    padding: 67px 0 0 29px;
    color: #062033;
    @media #{$info-tablet-vertical} {
      padding-left: 0;
    }
    @media #{$info-phone} {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding:0;
    }
    .info_author {
      color: #ffffff;
      margin-bottom: 53px;
      &::before {
        content: "";
        height: 39px;
        width: 1px;
        background: #177e72;
        position: absolute;
        left: 15px;
        @media #{$info-tablet-vertical} {
          left: -13px;
        }
        @media #{$info-phone}{
          display: none;
        }
      }
      .ti-heart {
        color: #177e72;
        padding: 0 14px 0 9px;
        font-weight: bold;
      }
      span {
        a {
          color: #062033;
          margin-left: 4px;
        }
      }
    }
  }
}
