header{
  background: #cdcdce;
  height: 140px;
  @media #{$info-phone}{
    height: 96px;
  }
  .top-info{
    height: 70px;
    width: 1170px;
    margin: 0px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media #{$info-phone}{
      display: none
    }
    .top-info__contact,.top-info__mail{
      display: flex;
      height: 16px;
      margin-right: 48px;
      align-items: center;
      p{
        margin: 0px 0px 0px 10px;
        font-size: 11px;
      }
    }
    .top-info__fb,.top-info__twit,.top-info__in{
      margin-left: 15px;
    }

    .top-info__fb, .top-info__zalo,.top-info__twit,.top-info__in{
      img {
        @include box-shadow(0 0 10px 2px grey)
      }
    }
  }

  .top-nav {
    background: #318e5b;
    height: 70px;
    width: 1170px;
    margin: 0px auto;
    @include flex;
    align-items: center;
    @media #{$info-phone}{
      height: 96px;
      background: #ffffff;
      width: 100%;
      justify-content: center;
    }

    .btn.btn-primary.dropdown-toggle {
      background: #328056;
      position: absolute;
      left: 0;
      top: 0;
      width: 96px;
      height: 96px;
      text-align: center;
      vertical-align: middle;
      font-size: 40px;
      i {
        line-height: 96px;
      }
    }
    .dropdown{
      position: unset;
      display: none;
      @media #{$info-phone}{
        display: block;
      }
    }
    .dropdown-menu{
      width: 401px;
      background: #277149;
      align-items: flex-start;
      left: 0px;
      top: 96px;
      padding: 60px 0px 50px 0px;
      li:active{
        background: none;
      }
      li a{
        display: block;
        padding: 0px 0px 53px 30px;
        font-weight: normal;
        font-size: 18px;
        color: #ffffff;
        white-space: nowrap;
        &:hover{
          background: none;
        }
      }
    }
    .dropdown-menu__search__input{
      width: 345px;
      height: 38px;
      border-radius: 10px;
      border: 1px solid #ccc;
      margin-left: 27px;
      background: #ffffff;
      font-size: 10px;
      padding-left: 16px;
      outline: none;
      &::placeholder {
        color: #277149;
      }

    }
    .top-nav__logo {
      width: 195px;
      background: white;
      height: 70px;
      @include flex-center(center);
    }

    .top-nav__menu {
      display: flex;
      width: 975px;
      list-style: none;
      font-size: 10px;
      margin: 0px;
      align-items: center;
      @media #{$info-phone}{
        display: none;
      }

      li a {
        font-weight: 600;
        color: #ffffff;
      }

      li {
        height: 70px;
        line-height: 70px;
      }

      li:hover {
        background: #e6e6e6;
        background: rgba(102, 160, 128, 0.5)
      }

      .top-nav__menu__home {
        margin-left: 39px;
        padding: 0px 26px 0px 26px;
      }

      .top-nav__menu__news {
        padding: 0px 17px 0px 17px;
      }

      .top-nav__menu__dropdown {
        padding: 0px 25px 0px 25px;
        position: relative;
        display: inline-block;
        &:hover {
          .top-nav__menu__drop-cont {
            display: block;
            background: #ffffff;
          }
        }
      }

      .top-nav__menu__ticket {
        padding: 0px 14px 0px 14px;
      }

      .top-nav__menu__car {
        padding: 0px 31px 0px 31px;
      }

      .top-nav__menu__contact {
        padding: 0px 11px 0px 11px;
      }

      .top-nav__menu__drop-cont {
        display: none;
        position: absolute;
        background-color: white;
        width: 138px;
        height: 126px;
        z-index: 1;
        padding-bottom: 25px;
        left: 0px;
        a {
          color: #318a5a;
          padding: 25px 0px 0px 20px;
          display: block;
          line-height: 10px;
          text-decoration: none;
        }
        a:hover {
          color: black;
          text-decoration: none;
        }
      }
      .top-nav__search__input {
        width: 307px;
        height: 38px;
        border-radius: 30px;
        border: 1px solid #ccc;
        color: white;
        margin-left: 42px;
        background: none;
        font-size: 10px;
        padding-left: 16px;
        outline: none;
        &::placeholder {
          color: white;
        }
        @media #{$info-phone}{
          background: #ffffff;
        }
      }
    }
  }
}

