.features {
  background: #f4f7f9;
  .features-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 70px;
    position: relative;
    &::after,
    &::before {
      content: "";
      width: 90px;
      height: 1px;
      background: #c3c6c7;
      position: absolute;
      bottom: 6px;
    }
    &::after {
      @include calc(left, "50% + 23px");
    }
    &::before {
      @include calc(right, "50% + 23px");
    }
    h2 {
      font-family: "opensans-extrabold";
      font-size: 28px;
      color: #0eb493;
      margin-bottom: 19px;
    }
    i {
      color: #c3c6c7;
    }
  } /*features-header*/
  #features-page {
    padding: 64px 0 136px 0;
    ol {
        bottom: 54px;
      .active {
        background: #062033;
      }
      li {
        width: 8px;
        height: 8px;
        @include border-radius(50%);
        background: none;
        border: 1px solid #c3c6c7;
        cursor: pointer;
      }
    }
  } /*features-page*/
  .wrapper_item {
    @media #{$info-tablet-vertical}{
        margin-bottom: 30px;
        &:last-child{
            margin: 0;
        }
    }
    .item_img {
      float: left;
      height: 100%;
    }
    .item_content {
      font-family: "opensans";
      font-size: 13px;
      color: #7a8993;
      padding-left: 52px;
      h3 {
        font-family: "opensans-semibold";
        font-size: 20px;
        color: #062033;
        margin-bottom: 18px;
      }
    }
  }
}
/*****features*********/
