#main{
  height: 2537px;
  background: #cacbcb;
  .image{
    height: 931px;
    background: url('../img/body-img.jpg');
  }
  @media #{$info-phone}{
    height: 3507px;
    & img{
      height: 1080px;
    }
  }
}
