.features {
  background: #f4f7f9;
  padding: 70px 0 45px 0;
  .slick-dots {
    position: unset;
    li {
      width: 8px;
      height: 8px;
      border: 1px solid #c3c6c7;
      @include border-radius(50%);
      button {
        width: 8px;
        height: 8px;
        padding: 0;
        &::before {
          display: none;
        }
      }
    }
    .slick-active {
      background: #000000;
    }
  }
  .slick-track {
    padding: 38px 0 62px 0;
  }
  .slick-initialized .slick-slide{
    display: flex;
  }
  .item-wrap {
    &:nth-child(2){
      padding: 0 9px 0 21px;
    }
    &:last-child{
      padding: 0 3px 0 27px;
    }
    @media #{$info-tablet-vertical} {
      margin-bottom: 30px;
      &:nth-child(2){
        padding: 0 15px 0 15px;
      }
      &:last-child {
        margin: 0;
        padding: 0 15px 0 15px;
      }
    }
    .item_img {
      float: left;
      height: 100%;
    }
    .item_info {
      @include font-size(13px);
      color: #7a8993;
      padding-left: 52px;
      h3 {
        font-weight: 600;
        @include font-size(20px);
        color: #062033;
        margin-bottom: 18px;
      }
    }
  }
}
/*****features*********/
